<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Productos</h1>
        <p class="lead text-muted">Productos en la tienda online</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div
          class="col-md-4 animated fadeIn fast"
          *ngFor="let item of productos | async; let i = index"
        >
          <img
            class="bd-placeholder-img card-img-top"
            src="../../../../assets/img/no-img.png"
            width="100%"
            height="225px"
          />
          <div class="card-body">
            <h4 class="card-title">Nombre del producto: {{ item.Nombre }}</h4>
            <p class="card-text">Tipo del Producto: {{ item.Tipo }}</p>
            <p class="card-text">Precio del producto: $ {{ item.Precio }}</p>
            <p class="card-text">Numero de Zapato: {{ item.Numeracion }}</p>
            <p class="card-text">Color disponible:{{ item.Color }}</p>
            <p class="card-text">
              <small class="text-muted"
                >Existencias del producto: {{ item.Existencia }}</small
              >
            </p>

            <button
              type="button"
              class="btn btn-primary"
              (click)="addCart(item)"
            >
              Añadir al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
