<main>
  <h1 class="text-center">{{producto.nombre}}</h1>
  <hr>
    <div class="container">
      <div class="container">
  
        <div class="row">                                            
 
            <div  class="col-md-4 animated fadeIn fast">
                <img class="img-fluid" [src]="producto.img" width="100%" height="230">
            </div>
            <div class="col-md-8">
                <div class="col" >
                    <h1 >{{producto.nombre}}</h1>
                    <p style="text-align: justify;">{{producto.bio}}</p>
                    <span>{{producto.casa}}</span>
                    <p><small class="text-muted">{{producto.aparicion}}</small></p>
         
                    <div style="text-align: start;">
                    <br><br><br><br><br>
                    <button  [routerLink]="['/offers']"  type="button" class="btn btn-outline-primary btn-block btn-space">Regresar</button>
                    
                    <button  type="button" class="btn btn-outline-primary btn-block ">Comprar producto</button>
                </div>
                  </div>
            </div>
        </div>
      </div>
</div>
  
  </main>
