<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="hola navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >
      <!-- Sidebar - Brand -->
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        [routerLink]="['/dashboard']"
      >
        <div class="sidebar-brand-icon rotate-n-15">
          <i style="font-size: 1.5rem" class="bi bi-speedometer"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Panel de administración</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i style="font-size: 1.5rem" class="bi bi-speedometer"></i>
          <span>Dashboard</span></a
        >
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->
      <div class="sidebar-heading">Interfaz</div>

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/clientes']">
          <i style="font-size: 1.5rem" class="bi bi-person-fill"></i>
          <span>Clientes</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/empleados']">
          <i style="font-size: 1.5rem" class="bi bi-person-badge"></i>
          <span>Empleados</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/productos']">
          <i style="font-size: 1.5rem" class="bi bi-bag-fill"></i>
          <span>Productos</span></a
        >
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <br />
          <br />
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
          >
            <h1 class="h3 mb-0 text-gray-800">Productos</h1>
          </div>

          <button
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
            type="button"
            class="btn btn-outline-primary"
          >
            Agregar
          </button>
          <button
            data-bs-toggle="modal"
            data-bs-target="#exampleModal3"
            type="button"
            class="btn btn-outline-primary"
            style="margin-left: 34px"
          >
            Modificar
          </button>
          <br />
          <br />
          <table class="table table-responsive table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Exisitencias</th>
                <th scope="col">Numeración</th>
                <th scope="col">Color</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Foto</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let items of productos | async">
                <th scope="row">{{ items._idProducto }}</th>
                <th scope="row">{{ items.Nombre }}</th>
                <th scope="row">{{ items.Precio }}</th>
                <th scope="row">{{ items.Existencia }}</th>
                <th scope="row">{{ items.Numeracion }}</th>
                <th scope="row">{{ items.Color }}</th>
                <th scope="row">{{ items.Tipo }}</th>
                <th scope="row">{{ items.Descripcion }}</th>
                <th scope="row">
                  <img [src]="items.Foto" width="45px" />
                </th>

                <th>
                  <i
                    type="button"
                    (click)="eliminarProducto(items._idProducto)"
                    class="bi-trash-fill"
                  ></i>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Seleccione "Cerrar sesión" a continuación si está listo para finalizar
          su sesión actual.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="iniciosesionServicio.cerrarSesion()"
            class="btn btn-primary"
          >
            finalizar sesión
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- guardar Modal-->
  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel2"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Guardar</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ID</span>

            <input
              name="_idCliente"
              [(ngModel)]="producto._idProducto"
              type="number"
              class="form-control"
              placeholder="Ingrese el id del producto"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombres</span>
            <input
              name="Nombres"
              [(ngModel)]="producto.Nombre"
              type="text"
              class="form-control"
              placeholder="Ingrese el nombre del producto"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Precio</span>
            <input
              name="Apellidos"
              [(ngModel)]="producto.Precio"
              type="number"
              class="form-control"
              placeholder="Ingrese el precio del Producto"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Existencias</span>
            <input
              name="Direccion"
              [(ngModel)]="producto.Existencia"
              type="text"
              class="form-control"
              placeholder="Ingrese las Existencias del producto"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Numeracion</span>
            <input
              name="Telefono"
              [(ngModel)]="producto.Numeracion"
              type="number"
              class="form-control"
              placeholder="Ingrese la numeracion del producto"
              aria-label="Telefono del empleado"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Color</span>
            <input
              name="Correo del empleado"
              [(ngModel)]="producto.Color"
              type="email"
              class="form-control"
              placeholder="Ingrese el color del producto"
              aria-label="Correo del empleado"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Descripción</span>
            <input
              name="Contrase del empleado"
              [(ngModel)]="producto.Descripcion"
              type="text"
              class="form-control"
              placeholder="Ingrese la contraseña del empleado"
              aria-label="Contrase del empleado"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Foto</span>
            <input
              name="Contrase del empleado"
              [(ngModel)]="producto.Foto"
              type="file"
              class="form-control"
              placeholder="Ingrese la foto del producto"
              aria-label="Contrase del empleado"
              aria-describedby="basic-addon2"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="GuardarProducto()"
            class="btn btn-primary"
          >
            Guardar elementos
          </button>
        </div>
      </div>
    </div>
  </div>
  -->

  <!-- modificar Modal-->
  <div
    class="modal fade"
    id="exampleModal3"
    tabindex="-1"
    aria-labelledby="exampleModalLabel3"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ID</span>

            <input
              name="_idCliente"
              [(ngModel)]="producto._idProducto"
              type="number"
              class="form-control"
              placeholder="Ingrese el id del producto"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombres</span>
            <input
              name="Nombres"
              [(ngModel)]="producto.Nombre"
              type="text"
              class="form-control"
              placeholder="Ingrese el nombre del producto"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Precio</span>
            <input
              name="Apellidos"
              [(ngModel)]="producto.Precio"
              type="number"
              class="form-control"
              placeholder="Ingrese el precio del Producto"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Existencias</span>
            <input
              name="Direccion"
              [(ngModel)]="producto.Existencia"
              type="text"
              class="form-control"
              placeholder="Ingrese las Existencias del producto"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Numeracion</span>
            <input
              name="Telefono"
              [(ngModel)]="producto.Numeracion"
              type="number"
              class="form-control"
              placeholder="Ingrese la numeracion del producto"
              aria-label="Telefono del empleado"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Color</span>
            <input
              name="Correo del empleado"
              [(ngModel)]="producto.Color"
              type="email"
              class="form-control"
              placeholder="Ingrese el color del producto"
              aria-label="Correo del empleado"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Descripción</span>
            <input
              name="Contrase del empleado"
              [(ngModel)]="producto.Descripcion"
              type="password"
              class="form-control"
              placeholder="Ingrese la contraseña del empleado"
              aria-label="Contrase del empleado"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01"
              >Foto</label
            >
            <select
              [(ngModel)]="producto.Foto"
              class="form-select"
              id="inputGroupSelect01"
            >
              <option selected>Administrador</option>
              <option value="Gerente">Gerente</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
            Modificar cliente
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
