<nav
  *ngIf="!iniciosesionServicio.eslogueado()"
  class="navbar navbar-expand-lg navbar-dark bg-dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Z&C ZAPATOS & CO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="!iniciosesionServicio.eslogueado()"
            [routerLink]="['/nosotros']"
            >Nosotros</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a
            ngif
            class="nav-link"
            *ngIf="!iniciosesionServicio.eslogueado(); else esfalsa"
            routerLink="iniciosesion"
            >Iniciar sesión</a
          >
        </li>
        <ng-template #esfalsa>
          <li class="nav-item" routerLinkActive="active">
            <a (click)="iniciosesionServicio.cerrarSesion()" class="nav-link"
              >Cerrar Sesión</a
            >
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

