<body>
    <br>    
        <main class="container">
          <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <img src="../../../../assets/img/banner2.jpg" width="1015px" height="350px">
            </div>
          </div>         
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Nosotros</h2>
              <p class="lead">Somos una empresa orgullosamente mexicana con origen en la Ciudad de Guadalajara, Jalisco. Z & C ZAPATOS & CO, es una empresa familiar que con esfuerzo y dedicación de la familia y personal que labora con nosotros ha ido creciendo poco a poco. Estamos continuamente a la vanguardia en nuestros modelos, para ofrecer la mejor calidad, moda y precio.
            </p>
            </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  width="400" height="400" src="../../../../assets/img/nosotros2.jpg" >
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Misión</h2>
              <p class="lead">Ofrecer un excelente servicio a nuestros clientes, brindándoles confianza a través de la comercialización de calzado de óptima calidad, comodidad y precios accesibles, generándoles satisfacción al consumir la variedad de modelos y estilos que manejamos para su comodidad.
            </p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  width="400" height="400" src="../../../../assets/img/descarga.jpg" >
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Visión</h2>
              <p class="lead">
                Ser una empresa líder en el mercado, tomandonos de la mano de la tecnología para facilitar la venta y comercialización de nuestros productos.
                Ser reconocidos como los mejores, a través de la preferencia de nuestros clientes, como sistencia personalizada, pero sobre todo, la calidad de todo nuestro calzado, ofreciendo soluciones que brindan confianza y comodidad en nuestros clientes.</p>
                </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  width="400px" height="400px" src="../../../../assets/img/vision.jpg" >
      
            </div>
          </div>
      
          <hr class="featurette-divider">
        </main><!-- /.container -->
                
          </body>