<body>
<br>    
    <main class="container">
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Ultimas Noticias sobre la moda</h1>
          <p class="lead my-3">En Z&C ZAPATOS & CO, ponemos a disposición de nuestros clientes, la oportunidad de conocer todo el proceso de elaboración de un zapato de calidad desde 0, paso a paso y de la forma más sencilla.
        </p>
        </div>
      </div>
    
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Sobre el mundo</strong>
              <h3 class="mb-0">LAS CLAVES DE LA IMPRESIÓN 3D PARA CALZADO</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">Las nuevas tecnologías evolucionan a una gran velocidadspor lo que siempre hemos considerado que la impresión 3D.</p>
              <a href="https://reinventandoelcalzado.es/las-claves-de-la-impresion-3d-para-calzado/" class="stretched-link">sigue leyendo</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img" src="../../../../assets/img/Impresion.jpg" width="200" height="250">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Sobre el mundo</strong>
              <h3 class="mb-0">5 ZAPATILLAS DEPORTIVAS «MADE IN CHINA»</h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="mb-auto">Es conocido a nivel mundial que el gigante asiático tiene una de las principales industrias zapateras.</p>
              <a href="https://reinventandoelcalzado.es/5-zapatillas-deportivas-made-in-china/" class="stretched-link">sigue leyendo</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img" src="../../../../assets/img/zapatillas-deportivas.jpg" width="200" height="250">
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Sobre el mundo</strong>
                <h3 class="mb-0">JOYAS PARA EL CALZADO</h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">Continuamos con nuestra serie de post de Historias del Calzado hablando de una mujer entregada desde muy pequeña a nuestra industria zapatera.</p>
                <a href="https://reinventandoelcalzado.es/joyas-para-el-calzado/" class="stretched-link">sigue leyendo</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" src="../../../../assets/img/Adornos.jpg" width="200" height="250">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Sobre el mundo</strong>
                <h3 class="mb-0">ZAPATOS CON ANCHOS ESPECIALES.</h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">Esta semana recibimos un correo electrónico con la consulta de una de nuestras lectoras. </p>
                <a href="https://reinventandoelcalzado.es/zapatos-con-anchos-especiales-estas-son-las-7-caracteristicas-que-deben-tener/" class="stretched-link">sigue leyendo</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" src="../../../../assets/img/Regalando-zapatos.jpg" width="200" height="250">      
              </div>
            </div>
          </div>
      </div>
    
      
    
    </main><!-- /.container -->
            
      </body>